body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.action {
    border-radius: 5px;
}

#open-stats {
    position: fixed;
    left: 0;
    background-color: black;
    border: none;
    font-size: larger;
}

#graph {
    width: 100%;
}

#open-tutorial {
    position: fixed;
    right: 0;
    background-color: black;
    border: none;
    font-size: larger;
    color: white;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
    overflow-y: auto;
}

.modal {
    margin: 0 auto;
    padding: 0 2rem;
    color: white;
    text-align: left;
    max-width: 50rem;
}

#example {
    width: 300px;
    margin-bottom: -100px;
}

.ok {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    border-width: thin;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#feedback {
    position: fixed;
    top: 20px;
    width: 300px;
    left: 50%;
    transform: translateX(-35%);
}

#parity {
    position: fixed;
    top: 30%;
    width: 100%;
    color: white;
    margin: 0;
}

#picker {
    position: fixed;
    bottom: 15%;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cubie {
    margin: 5px;
    padding: 0;
    border: none;
    height: 50px;
}

#actions {
    position: fixed;
    bottom: 5%;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    /* Make sure share button is in front of confetti */
    z-index: 1000;
}

.action {
    width: 80px;
    height: 50px;
    font-size: larger;
    border: none;
    margin: 5px;
}

button:hover {
    opacity: 80%;
}

button:active {
    opacity: 60%;
}

button:disabled {
    opacity: 50%;
}

#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

.shake {
    animation: shake .5s;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
